<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>636118719086-ri776krv3fer5rtuulhcphe8a4gavvl4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.636118719086-ri776krv3fer5rtuulhcphe8a4gavvl4</string>
	<key>API_KEY</key>
	<string>AIzaSyC8-ieI4U706fnePyXWd8rNV2kKIOXjCFc</string>
	<key>GCM_SENDER_ID</key>
	<string>636118719086</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.self.Timer</string>
	<key>PROJECT_ID</key>
	<string>anywindow-a910d</string>
	<key>STORAGE_BUCKET</key>
	<string>anywindow-a910d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:636118719086:ios:942474f683544468</string>
	<key>DATABASE_URL</key>
	<string>https://anywindow-a910d.firebaseio.com</string>
</dict>
</plist>